

body {
    font-family: 'Dosis', sans-serif;
    background-image: linear-gradient(to bottom left, rgba(230, 217, 255, 0.76), #ffffff);
    background-repeat: no-repeat;
    color: #000000;
}

#page-top {
    border-width: 1.5px;
    border-style: solid;
    border-color: #410034;
    background-color: #e6d9ff;
    margin-top: 10px;
}

.logo{
  max-width: 60px;
  margin: -5px;
}

.page-margin{
  font-family: 'Dosis', sans-serif;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 0.3rem;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar{
  font-family: 'Dosis', sans-serif;
  background-color: #8bad80;
  
}

#img-top{
  width: 100%;
  max-height: 280px;
  
}

.title-container{
    padding: 10px;
    background-color: #c5c5c5 ;
    border-radius: 0.3em;
    margin: 20px;
}

.mini_icon {
    max-width: 85px;
    height: auto;
    transition: transform .4s; /* Animation */
}

.mini_icon:hover {
    transform: scale(1.2);
}

p{
    font-size: 1.5em;
}

.big-quote{
    background-color: #9f9f9f;
    border-left-width:3px;
    border-left-color: #393939;
    border-left-style: solid;
    padding: 10px;
    margin: 10px;
}